body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    display: flex; /* Cambia la visualización a flex para poder alinear los items en una fila */
    width: 150px ;
}

.carousel-item .row {
    display: flex; /* Permite que los ítems estén uno al lado del otro */
    justify-content: center; /* Centra los ítems */
}

.carousel-item .col {
    flex: 1; /* Cada columna ocupa el mismo espacio */
    padding: 10px; /* Espacio entre las imágenes */
}

.carousel-inner img {
    max-height: 150px; /* Ajusta la altura máxima según lo necesites */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta si es necesario */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
